

@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.light{
  --primary-color: white;
  --secondary-color: black;
  --third-color: blue;
}
.dark{
  --primary-color: black;
  --secondary-color: white;
  --third-color: red;
}

/* container layout */
.whole-app{
  width: 100%;
  display: flex;
  position: relative;
  transition: all ease-in-out 0.3s;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.content-container{
  flex: 1;
  margin-left: 280px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}
.toggle-theme-nav{
  /* background-color: var(--primary-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 2px;
  top: 0;
  left: 0; 
  z-index: 2;
}
.open-btn {
  cursor: pointer;
  display: inline;
  padding: 3px 5px;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  visibility: hidden;
}
.theme-div{

  padding: 4px;
  font-size: 1.8rem;
  margin-right: 6px;
}

@media (max-width: 850px) {
  .content-container {
      margin-left: 0;
      
    /* margin-top: -24px; */

  }
  .open-btn{
    visibility: visible;
  }

}
html{
  font-size: 1rem;
}

@media (max-width: 412px) {
  html{
    font-size: 0.9rem;
  }
}
@media (max-width: 334px) {
  html{
    font-size: 0.7rem;
  }
}